<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Mongoose Store</title>
    <link rel="stylesheet" href="../public/style.css">    
  </head>
  <body>
    <a href='#'>Add a new product</a>
    <h1>SHOP</h1>
    <div class='container'>
        <div></div>
    </div>
  </body>
</html>